$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';



body {
  background-color: #69015A;
}
#change-password {
  display: none;
  float: left;
  width: auto;
  padding: 6px 10px;
  margin: 4px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 15px;
}
#sign-out {
  display: none;
  float: right;
  width: auto;
  padding: 6px 10px;
  margin: 4px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 15px;
}
#sign-in {
  clear: both;
  text-align: center;
  width: auto;
  padding: 6px 10px;
  margin: 4px 0;
  box-sizing: border-box;
  // border: 2px solid red;
  border-radius: 15px;
}
#sign-up {
  float: right;
  width: auto;
  padding: 6px 10px;
  margin: 4px 0;
  box-sizing: border-box;
  // border: 2px solid red;
  border-radius: 15px;
}
#toll-content {
  float: left;
  background-color: #3BBA14;
  color: white;
  margin: 50px auto auto 125px;
  width: auto;
}
#authbox {
  border: 10px dashed black;
  background-color: #FFE700;
  border-radius: 10px;
  float: right;
  margin: 50px 100px auto auto;
  width: auto;
}
#sign-in-message {
  color: #3BBA14;
  text-align: center;
  font-size: 15px;
}
#sign-up-message{
  color: #3BBA14;
  text-align: center;
  font-size: 15px;
}
#message {
  text-align: center;
  font-size: 20px;
  color: #FFE700;
}
#getChargesButton {
  display: none;
  margin: 50px 100px 50px 100px;
  font-size: 50px;
  background-color: #FFE700;
  color: black;
  border: 5px solid black;
}
#hideChargesButton {
  display: none;
  margin: 50px 50px 25px 100px;
  font-size: 50px;
  background-color: #FFE700;
  color: black;
  border: 5px solid black;
}
#exit {
  float: left;
  font-size: 50px;
}
#price{
  float: left;
  font-size: 50px;
}
tr {
  text-align: left;
}
td {
  border: 1px solid black;
}
input {
  background-color: #FFFFB2;
  color: #3BBA14;
  font-size: 13px;
  padding-left: 5px;
  // border: 1px solid $black;
  border-radius: 15px;
  // box-shadow: 3px 4px 0 0;
}
#edit-date {
  display: none;
  float: right;
  margin: auto 200px 20px 100px;
}
#authmessage {
  color: #FFFFB2;
  font-size: 15px;
}
#passwordMessage {
  color: #FFFFB2;
  font-size: 15px;
}
#signoutMessage {
  color: #FFFFB2;
  font-size: 15px;
  float: right;
}
#message2 {
  float: right;
  margin: auto 200px 20px 100px;
  color: #FFFFB2;
}
h1 {
  text-align: center;
  clear: both;
  color: #FFE700;
  font-family: monospace;
  font-weight: bold;
  font-size: 50px;
  font-family: 'Arbutus', cursive;
}
h2 {
  font-size: 10px;
  margin: 0;
}
.add-button {
  background-color: lighten(#2355dd, 2%);
}
.remove-button {
  background-color: lighten(red, 20%);
}
.edit-button {
  background-color: lighten(#77CCE5, 2%);
}
#charge-content {
  float: right;
  background-color: #3BBA14;
  color: white;
  margin: 50px 125px auto auto;
  width: auto;
}
#map {
  border-radius: 15px;
  height: 75%;
  width: 75%;
  margin: 5px auto;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
footer {
  clear: both;
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: 500px;
}
