{{#each tolls as |toll|}}
<tr data-id="{{toll.id}}">
  <td>Exit: {{toll.location}}</td>
  <td>Price: ${{toll.price}}</td>
  <td><button class='add-button'>{{toll.id}}</button>
</tr>

{{/each}}

  <!-- <li class='dynamic'><button class='add-button'>Add</button></li> -->
