{{#each tolls as |toll|}}

  <table style="width:100%" data-id="{{toll.id}}">
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <td>{{toll.location}}</td>
    <td>${{toll.price}}</td>
    <td><button class='add-button'>Add</button></td>
  </table>

{{/each}}
