{{#each tolls as |toll|}}
<ul data-id="{{toll.id}}" class='static'>
  <li class='dynamic'>Exit: {{toll.location}}</li>
  <li class='dynamic'>Price: ${{toll.price}}</li>
</ul>

{{/each}}

  <!-- <li class='dynamic'><button class='add-button'>Add</button></li> -->
