{{#each tolls as |toll|}}
<div data-id="{{toll.id}}" class="exit">
  <h1>{{toll.location}}</h1>
  <h2>Price: ${{toll.price}}</h2>
  <input type="submit" class="button" name="add" value="Add">

</div>
{{/each}}

  <!-- <button class='add-button'>Add</button> -->
